.div1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.textInput1 {
  width: 0px;
  position: relative;
  height: 24px;
  z-index: 0;
}
.label {
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  z-index: 1;
}
.textInput2 {
  width: 24px;
  position: relative;
  height: 0px;
  z-index: 2;
}
.arrowdropdownfilledIcon {
  width: 24px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 12px);
  right: 0px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.container {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0px;
  position: relative;
}
.textInput {
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #c5c5c5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 12px;
}
.select {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
}
.text {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

.text:hover {
  color: #224a99;
}

.text:active {
  color: #224a99;
}

.text:focus {
  outline: none;
}
.btnText {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}
.component2 {
  width: 100px;
  border-bottom: 2px solid #224a99;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #224a99;
}
.text1 {
  position: relative;
  line-height: 150%;
}
.component3 {
  width: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
.component4 {
  width: 49px;
  border-bottom: 2px solid #224a99;
  box-sizing: border-box;
  height: 44px;
  display: none;
}
.horizontalContainer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
}
.hiddenIcon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9px;
}

.button1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.div4 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.paragraphContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 18px;
}
.textInput3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  text-align: center;
  font-size: 16px;
}
.textInputContainer {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  text-align: left;
  font-size: 21px;
}
.horizontalContainer4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.btn {
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 60px;
}
.btn:hover {
  background-color: #ececec82; /* 마우스를 올렸을 때 배경색 변경 */
}

.btn:active {
  background-color: #e2e2e281; /* 클릭 시 배경색 변경 */
}
.btn1 {
  border-radius: 6px;
  background-color: #224a99;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 60px;
  box-sizing: border-box;
}
.button3 {
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}
.btn1:hover {
  background-color: #1a397a;
}
.btn1:active {
  background-color: #112856;
}
.segmentedPicker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  color: #224a99;
}
.horizontalContainer3 {
  align-self: stretch;
  height: 71px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  box-sizing: border-box;
}
.horizontalContainer2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
}
.horizontalContainer {
  position: absolute;
  top: 40px;
  left: 320px;
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.logoIcon {
  width: 180px;
  position: relative;
  height: 100px;
}
.tab {
  width: 110px;
  background-color: #fff;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tab2 {
  width: 110px;
  background-color: #fff;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #224a99;
}
.horizontalContainer5 {
  width: 1280px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.div {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: "Noto Sans CJK KR";
}
