.logoIcon {
  width: 180px;
  position: relative;
  height: 100px;
}
.text {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.tab {
  width: 110px;
  background-color: #fff;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.text1 {
  position: relative;
  line-height: 150%;
}
.tab1 {
  width: 110px;
  background-color: #fff;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #224a99;
}
.tabParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.logoParent {
  width: 1280px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.text7 {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  line-height: 150%;
  display: inline-block;
}
.text6 {
  width: 130px;
  position: relative;
  height: 27px;
}
.text10 {
  width: 130px;
  position: relative;
  height: 27px;
  color: #224a99;
}

.div1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.hiddenIcon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.padding {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9px;
}
.checkbox {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.checkboxParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.button1 {
  position: relative;
  letter-spacing: 0.46px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 500;
}
.base {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button {
  border-radius: 4px;
  border: 1px solid rgba(34, 74, 153, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  font-size: 13px;
  color: #224a99;
  font-family: Roboto;
}
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 40px 0px 16px;
}
.div3 {
  width: 120px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.div5 {
  position: relative;
  line-height: 150%;
  white-space: pre-wrap;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 18px;
}
.group {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  text-align: left;
  font-size: 21px;
}
.head {
  align-self: stretch;
  height: 71px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 40px 0px 16px;
  box-sizing: border-box;
}
.headWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  text-align: center;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.parent {
  position: absolute;
  top: 40px;
  left: 60px;
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.div {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: "Noto Sans CJK KR";
}
