.logoIcon {
  width: 180px;
  position: relative;
  height: 100px;
  cursor: pointer;
}
.text {
  position: relative;
  font-size: 21px;
  line-height: 150%;
  font-weight: 500;
  font-family: "Noto Sans CJK KR";
  color: #4f4f4f;
  text-align: center;
  text-decoration: none;
}
.tab {
  width: 110px;
  background-color: #fff;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tabParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.logoParent {
  width: 1280px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.gnb {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 21px;
  color: #4f4f4f;
  font-family: "Noto Sans CJK KR";
}
