body {
  margin: 0;
  line-height: normal;
}

.div {
  position: relative;
  line-height: 150%;
}
.div1 {
  position: relative;
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
}
.parent {
  position: absolute;
  top: 89px;
  left: 30px;
  width: 186px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.image48Icon {
  position: absolute;
  top: calc(50% - 67px);
  left: calc(50% - 111.5px);
  width: 111px;
  height: 36px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.frameGroup {
  position: relative;
  background-color: red;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px rgba(208, 208, 208, 0.5);
  box-sizing: border-box;
  width: 311px;
  height: 200px;
}
.group {
  position: absolute;
  top: 89px;
  left: 31px;
  width: 186px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.image48Icon1 {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 115.5px);
  width: 155px;
  height: 52px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.frameContainer {
  position: absolute;
  top: 0px;
  left: 323px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px rgba(208, 208, 208, 0.5);
  box-sizing: border-box;
  width: 311px;
  height: 200px;
}
.image48Icon2 {
  position: absolute;
  top: calc(50% - 73px);
  left: calc(50% - 110.5px);
  width: 182px;
  height: 48px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.frameDiv {
  position: absolute;
  top: 212px;
  left: 0px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px rgba(208, 208, 208, 0.5);
  box-sizing: border-box;
  width: 311px;
  height: 200px;
}
.image48Icon3 {
  position: absolute;
  top: calc(50% - 67px);
  left: calc(50% - 109.5px);
  width: 105px;
  height: 36px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.realtimeJobInfoContent {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 12px;
  box-sizing: border-box;
  width: 634px;
  height: 412px;
}
.frameParent {
  position: absolute;
  top: 584px;
  left: 320px;
  width: 634px;
  height: 412px;
  font-size: 14px;
}
.parent2 {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 27px;
}
.eduInfoContent {
  position: relative;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px rgba(208, 208, 208, 0.5);
  box-sizing: border-box;
  width: 311px;
  height: 412px;
}
.div20 {
  position: relative;
  font-size: 14px;
  line-height: 150%;
}
.parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frameParent2 {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 251px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 27px;
}
.communityContent {
  position: relative;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px rgba(208, 208, 208, 0.5);
  box-sizing: border-box;
  width: 311px;
  height: 412px;
}
.areaLabel {
  position: relative;
  margin-bottom: 10px;
  line-height: 150%;
  font-weight: 500;
  color: #111e32;
}
.p {
  margin: 0;
}
.chatboLabelContainer {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 120%;
  font-weight: 500;
  background: linear-gradient(92.1deg, #1f375b, #3980ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hideChatboLabelContainer {
  display: none;
}

.div37 {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.frameChild {
  width: 44px;
  position: relative;
  height: 48px;
  background: none;
  border: none;
  cursor: pointer;
}

.chatbotInputBoxContainer {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 20px;
  text-align: center;
  font-size: 21px;
}

.chatbotChattingContainer {
  opacity: 0;
  visibility: hidden;
  height: 0;
  /* background-color: red; */
}

.animateChatbotChattingContainer {
  animation: increaseChatbotChattingContainer 2s forwards;
}

@keyframes increaseChatbotChattingContainer {
  from {
    opacity: 0;
    visibility: hidden;
    height: 213px;
  }
  to {
    opacity: 1;
    visibility: visible;
    height: 650px;
  }
}

.chatContainer {
  position: relative;
  /* height: 550px; */
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.animateChatContainer {
  animation: increaseChatContainer 0.1s forwards;
}

@keyframes increaseChatContainer {
  from {
    height: 0;
  }
  to {
    height: 650px;
  }
}

.chatbotContainer {
  position: relative;
  margin: 0 auto;
  margin-top: 117px;
  display: flex;
  width: 634px;
  height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  font-size: 40px;
  color: #c4c4c4;
}

.contentContainer {
  position: relative;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  gap: 10px;
  width: 1300px;
  height: 450px;
  /* transition: margin-top 1s ease-in-out; margin-top 변경 시 애니메이션 적용 */
}

.animateChatbotContainer {
  animation: increaseChatbotContainer 0.5s forwards;
}

@keyframes increaseChatbotContainer {
  from {
    height: 184px;
    /* margin-top: 117px; */
    justify-content: center;
  }
  to {
    height: 740px;
    /* margin-top: 50px; */
    justify-content: space-between;
  }
}

.realtimeJobInfoContainer {
  width: 634px;
}

.eduInfoContainer {
  width: 311;
}

.communityContainer {
  width: 311;
}
.home {
  width: 100%;
  position: relative;
  background: linear-gradient(270deg, #c9d6ff, #dfe7ec);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: "Noto Sans CJK KR";
}

/* */

.timeLabel {
  position: relative;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: right;
}
.horizontalContainer2 {
  position: relative;
  width: 634px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  text-align: right;
  color: #494949;
}
.chatBox {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: 0.02em;
  text-align: left;
}
.userChatBox {
  border-radius: 8px;
  background-color: #224a99;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
}
.buttonContainer1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 12px;
}
.buttonContainer {
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  width: 634px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 10px;
  box-sizing: border-box;
  font-size: 12px;
  color: #797979;
}
.horizontalContainer5 {
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
.div5 {
  position: relative;
  color: #797979;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  letter-spacing: 0.02em;
  text-align: left;
}
.horizontalContainer4 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 12px;
  z-index: 1;
}
.horizontalContainer3 {
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  width: 634px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 10px;
  box-sizing: border-box;
  gap: 10px;
  color: #000;
}
.card {
  width: 100%;
  position: relative;
  height: 740px;
  text-align: left;
  font-size: 16px;
  color: #c4c4c4;
  font-family: "Noto Sans CJK KR";
}
