.div2 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.textInput1 {
  align-self: stretch;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #c5c5c5;
  box-sizing: border-box;
  height: 46px;
}
.textInputContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.textInput2 {
  align-self: stretch;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #c5c5c5;
  box-sizing: border-box;
  height: 184px;
}
.div6 {
  position: relative;
  font-size: 10px;
  line-height: 150%;
  color: #ff0000;
}
.paragraphContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.vectorIcon {
  width: 7px;
  position: relative;
  height: 9.8px;
  object-fit: contain;
}
.vectorIcon1 {
  width: 12px;
  position: relative;
  max-height: 100%;
}
.horizontalContainer2 {
  width: 16px;
  height: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.horizontalContainer1 {
  position: absolute;
  top: calc(50% - 8.5px);
  left: calc(50% - 40px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.button {
  width: 275px;
  position: relative;
  border-radius: 99px;
  background-color: #fff;
  border: 1px solid #dedede;
  box-sizing: border-box;
  height: 46px;
  font-size: 12px;
  color: #494949;
}
.textInput6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.span {
  color: #000;
}
.hiddenIcon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button1 {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9px;
}
.checkbox {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.horizontalContainer4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  color: #000;
}
.kg {
  position: relative;
  line-height: 150%;
}
.verticalContainer1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  color: #ff0000;
}
.verticalContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}

.inputFormContainer {
  position: absolute;
  top: 140px;
  left: 320px;
  width: 1030px;
  height: 1613px;
}
.text {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.btn {
  width: 300px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 60px;
}
.btn1 {
  width: 300px;
  border-radius: 6px;
  background-color: #224a99;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 60px;
  box-sizing: border-box;
  color: #fff;
}
.segmentedPicker {
  position: absolute;
  top: 1853px;
  left: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  text-align: center;
  color: #224a99;
}
.logoIcon {
  width: 180px;
  position: relative;
  height: 100px;
}
.tab {
  width: 110px;
  background-color: #fff;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tab3 {
  width: 110px;
  background-color: #fff;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #224a99;
}
.horizontalContainer10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}
.horizontalContainer9 {
  width: 1280px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.text9 {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  line-height: 150%;
  display: inline-block;
}
.text8 {
  width: 130px;
  position: relative;
  height: 27px;
  color: #224a99;
}
.text10 {
  width: 130px;
  position: relative;
  height: 27px;
}

.div {
  width: 1030px;
  position: relative;
  background-color: #fff;
  height: 2003px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: "Noto Sans CJK KR";
}

.inputFormContainer {
  position: absolute;
  display: flex;
  top: 140px;
  left: 320px;
  width: 1030px;
  height: 1613px;
}

.textInput {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1030px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.inputForm {
  position: absolute;
  top: 67px;
  left: 0px;
  width: 1030px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
